h1 {
  font-weight: bold;
  margin-top: 0em;
  margin-bottom: 0.8em;
  font-size: 2.5em;
}

h2 {
  font-size: 1.8em;
  color: #222;
}

h3 {
  font-size: 1.1em;
  font-weight: bold;
}

body {
  color: #444;
}

.page {
  margin-top: 2em;
}

.sidebar {
  margin-bottom: 3em;
}
.sidebar h2 {
  font-size: 1em;
  font-weight: bold;
}

.sidebar ul {
  list-style: none;
  padding-left: 0;
}

.sidebar li {
  margin: 0;
}

ul {
  padding-left: 1.5em;
}
li {
  margin: 0.5em 0;
}

blockquote {
  font-size: 1em;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1em;
}

table small {
  color: #666;
}

.thumbnail {
	float: right;
	margin: 15px;	
}

.footer {
  border-top: 2px solid #ddd;
  /*background-color: #fafafa;*/
  margin-top: 3em;
  padding: 1em 0.5em 1.5em 0.5em;
  font-size: 90%;
  color: #666;
}


.subhead {
	background-image: url('../gfx/waterfront.jpg');
	background-repeat: no-repeat;
	background-position: center;
	padding: 2em 0 2em 0;
	color: #eeeeee;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black, 3px 3px 5px black;
	white-space: nowrap;
}

.subhead h1 {
	font-size: 60px;
	margin-top: 0em;
	margin-bottom: 0.1em;
}

.subhead p {
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 0em;
}

.subhead a {
  color: #eeeeee;
}

.img-sponsor {
  max-width: 100%;
  height: auto;
}

.google-maps {
    position: relative;
    padding-bottom: 75%; // This is the aspect ratio
    height: 0;
    overflow: hidden;
}
.google-maps iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

